INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/
src/obj/
tests/obj/
*.suo
*.user
config.log
config.status
configure
*.exe
*.mdb
*.pidb
*.config
install-sh
missing
*.pc
*.zip
tests/samples/tmp*
docs/*.xml
docs/*/*
docs/*.tree
*.dll.xml
examples/*.dll
*.userprefs
test-results
.*.swp

